<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>用户管理</title>
    <!--bootstrap 样式引入-->
    <link th:href="@{/static/bootstrap/css/bootstrap.css}" rel="stylesheet" />
    <link th:href="@{/static/bootstrap/css/font-awesome.css}" rel="stylesheet" />
    <link th:href="@{/static/bootstrap/css/basic.css}"  rel="stylesheet"/>
    <link th:href="@{/static/bootstrap/css/custom.css}" rel="stylesheet" />
    <!-- <link th:href='@{http://fonts.googleapis.com/css?family=Open+Sans}' rel='stylesheet' type='text/css' />-->
    <!-- js 引入-->
    <script th:src="@{/static/bootstrap/js/jquery-1.10.2.js}"></script>
    <script th:src="@{/static/bootstrap/js/bootstrap.js}"></script>
    <script th:src="@{/static/bootstrap/js/jquery.metisMenu.js}"></script>
    <script th:src="@{/static/bootstrap/js/custom.js}"></script>
    <!--kkpager-->
    <script type="text/javascript" th:src="@{/static/kkpager/lib/jquery-1.10.2.min.js}"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/static/kkpager/src/kkpager_blue.css}"/>
    <script type="text/javascript" src="@{/static/kkpager/src/kkpager.min.js}"></script>
</head>
<body>
<!--<div class="container">
<button type="button" class="btn btn-default">查询</button> <button type="button" class="btn btn-default">添加</button>
<table class="table table-bordered">
        <thead>
        <tr>
            <th>
                编号
            </th>
            <th>
                产品
            </th>
            <th>
                交付时间
            </th>
            <th>
                状态
            </th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>
                1
            </td>
            <td>
                TB - Monthly
            </td>
            <td>
                01/04/2012
            </td>
            <td>
                Default
            </td>
        </tr>
        <tr class="success">
            <td>
                1
            </td>
            <td>
                TB - Monthly
            </td>
            <td>
                01/04/2012
            </td>
            <td>
                Approved
            </td>
        </tr>
        </tbody>
</table>
</div>-->
</body>
</html>