<!DOCTYPE html>
<html lang="en">
<head>
    <title>睿动体育</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!--bootstrap 样式引入-->
    <link th:href="@{/static/bootstrap/css/bootstrap.css}" rel="stylesheet" />
    <link th:href="@{/static/bootstrap/css/font-awesome.css}" rel="stylesheet" />
    <link th:href="@{/static/bootstrap/css/basic.css}"  rel="stylesheet"/>
    <link th:href="@{/static/bootstrap/css/custom.css}" rel="stylesheet" />
   <!-- <link th:href='@{http://fonts.googleapis.com/css?family=Open+Sans}' rel='stylesheet' type='text/css' />-->
    <!-- js 引入-->
    <script th:src="@{/static/bootstrap/js/jquery-1.10.2.js}"></script>
    <script th:src="@{/static/bootstrap/js/bootstrap.js}"></script>
    <script th:src="@{/static/bootstrap/js/jquery.metisMenu.js}"></script>
    <script th:src="@{/static/bootstrap/js/custom.js}"></script>
    <!--引入工具js-->
    <script th:src="@{/static/common/Util.js}"></script>
    <!--引入kkpager-->
    <script th:src="@{/static/kkpager/lib/jquery-1.10.2.min.js}"></script>
    <script th:src="@{/static/kkpager/src/kkpager.min.js}"></script>
    <link th:href="@{/static/kkpager/src/kkpager_blue.css}" rel="stylesheet" />
</head>
<body>
<div id="wrapper" >
    <nav class="navbar navbar-default navbar-cls-top " role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="index.html">睿动体育<br/>数据服务有限公司</a>
        </div>

        <div class="header-right">

            <a href="message-task.html" class="btn btn-info" title="New Message"><b>30 </b><i class="fa fa-envelope-o fa-2x"></i></a>
            <a href="message-task.html" class="btn btn-primary" title="New Task"><b>40 </b><i class="fa fa-bars fa-2x"></i></a>
            <a href="login.html" class="btn btn-danger" title="Logout"><i class="fa fa-exclamation-circle fa-2x"></i></a>

        </div>
    </nav>
    <!-- /. NAV TOP  -->
    <nav class="navbar-default navbar-side" role="navigation">
        <div class="sidebar-collapse">
            <ul class="nav" id="main-menu">
                <li>
                    <a href="#" ><i class="fa fa-desktop "></i>系统管理<span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li>
                           <!-- <a th:href="@{/userInfo/findPage}" target="mainFrame"><i class="fa fa-toggle-on"></i>用户管理</a>-->
                            <a tabindex="-1" href="javascript:goPage('/userInfo/findPage')"><span class="mm-text">用户管理</span></a>
                        </li>
                        <li>
                            <a href="notification.html" target="mainFrame"><i class="fa fa-bell "></i>角色管理</a>
                        </li>
                        <li>
                            <a href="progress.html" target="mainFrame"><i class="fa fa-circle-o "></i>权限管理</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#"><i class="fa fa-yelp "></i>Extra Pages <span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li>
                            <a href="invoice.html"><i class="fa fa-coffee"></i>Invoice</a>
                        </li>
                        <li>
                            <a href="pricing.html"><i class="fa fa-flash "></i>Pricing</a>
                        </li>
                        <li>
                            <a href="component.html"><i class="fa fa-key "></i>Components</a>
                        </li>
                        <li>
                            <a href="social.html"><i class="fa fa-send "></i>Social</a>
                        </li>

                        <li>
                            <a href="message-task.html"><i class="fa fa-recycle "></i>Messages Tasks</a>
                        </li>


                    </ul>
                </li>
                <li>
                    <a href="table.html"><i class="fa fa-flash "></i>Data Tables </a>

                </li>
                <li>
                    <a href="#"><i class="fa fa-bicycle "></i>Forms <span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">

                        <li>
                            <a href="form.html"><i class="fa fa-desktop "></i>Basic </a>
                        </li>
                        <li>
                            <a href="form-advance.html"><i class="fa fa-code "></i>Advance</a>
                        </li>


                    </ul>
                </li>
                <li>
                    <a href="gallery.html"><i class="fa fa-anchor "></i>Gallery</a>
                </li>
                <li>
                    <a href="error.html"><i class="fa fa-bug "></i>Error Page</a>
                </li>
                <li>
                    <a href="login.html"><i class="fa fa-sign-in "></i>Login Page</a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-sitemap "></i>Multilevel Link <span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li>
                            <a href="#"  ><i class="fa fa-bicycle "></i>Second Level Link</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-flask "></i>Second Level Link</a>
                        </li>
                        <li>
                            <a href="#">Second Level Link<span class="fa arrow"></span></a>
                            <ul class="nav nav-third-level">
                                <li>
                                    <a href="#"><i class="fa fa-plus "></i>Third Level Link</a>
                                </li>
                                <li>
                                    <a href="#"><i class="fa fa-comments-o "></i>Third Level Link</a>
                                </li>

                            </ul>

                        </li>
                    </ul>
                </li>

                <li>
                    <a href="blank.html"><i class="fa fa-square-o "></i>Blank Page</a>
                </li>
            </ul>
        </div>
    </nav>
    <div id="page-wrapper">
       <!-- <iframe src=""  id="mainFrame" name="mainFrame" frameborder="0" width="100%"  height="100%" frameBorder="0"></iframe>-->
    </div>
</div>
<div id="footer-sec">
  <!--  &copy; 2014 YourCompany | More Templates <a href="http://www.cssmoban.com/" target="_blank" title="模板之家">模板之家</a> - Collect from <a href="http://www.cssmoban.com/" title="网页模板" target="_blank">网页模板</a>-->
</div>
</body>
</html>